<?xml version="1.0" encoding="iso-8859-1" ?>
<!DOCTYPE html PUBLIC "./W3./DTD XHTML 1.0 Transitiona./EN" "http./www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Adventure PHP Framework Demo-Projekt / Adventure php framework demo project</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" href="./css/apfexample.css" type="text/css" />
</head>
<body>
  <div id="main" style="border: 0px solid black; background-color: #083643;">
    <div id="header">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <a href="/" title="Startseite">
              <img src="./media/header_left.png" border="0" alt="Startseite / Home" />
            </a>
          </td>
          <td style="width: 100%; vertical-align: top;">
            <table cellpadding="0" cellspacing="0" style="width: 100%;" border="0">
              <tr>
                <td style="width: 100%; height: 20px;"></td>
              </tr>
              <tr>
                <td style="width: 100%; height: 50px; text-align: center; padding-right: 20px;">
                  <img src="./media/apf_claim_2.gif" />
                </td>
              </tr>
              <tr>
                <td style="width: 100%; height: 20px;"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <table cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <td style="vertical-align: top;">
          <div id="top_repeat_border">
            <div id="bottom_repeat_border">
              <div id="left_repeat_border">
                <div id="right_repeat_border">
                  <div id="left_top_corner">
                    <div id="left_bottom_corner">
                      <div id="right_top_corner">
                        <div id="right_bottom_corner">
                          <div id="scalable_content_div">
                            <center>
<strong>Herzlich Willkommen auf der Demo-Webseite des Adventure PHP-Frameworks. Bitte w&auml;hlen
Sie Ihre Sprache:</strong>
<br />
<br />
<a href="./de" title="Deutsche Demo-Seite"><img src="./media/flagge-deutschland3_neu.gif" alt="Deutsche Demo-Seite" border="0" /></a>
<br />
<br />
<br />
<strong>Welcome to the adventure php framework demo page. Please choose your language:</strong>
<br />
<br />
<a href="./en" title="Englisch demo site"><img src="./media/flaggen_en_us.gif" alt="Englisch demo site" border="0" /></a>
                            </center>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div id="footer">
      <strong>&copy; 2009 adventure-php-framework.org</strong>&nbsp;&nbsp;
    </div>
  </div>
</body>
</html>