<h2>Registrierung</h2>
<p>
   Auf dieser Seite können sie sich als neuer Benutzer registrieren. Diese Komponente des Usermanagement-Moduls ist für
   ihre Kunden gedacht, um sich an ihrer Applikation anzumelden. Es handelt sich dabei jedoch nur um ein einfaches
   Formular, das die Basis-Daten eines Benutzers abfragt, die auch im Modul gespeichert werden. Sollen weitere Attribute
   abgefragt werden, kann dieses jedoch als Basis für eine eigene Implementierung genutzt werden.
</p>
<p>
   Bitte beachten Sie, dass eine Registrierung nur möglich ist, wenn sie den
   <a href="?page=umgt-wizzard">Usermanagement-Wizzard</a> bereits ausgeführt haben.
</p>
<p>
   Um das Formular einzubinden, ist folgender Code notwendig:
</p>
<pre>
&lt;core:importdesign
   namespace="APF\modules\usermanagement\pres\templates\registration"
   template="register"
/&gt;
</pre>
<p>
   Die Darstellung ist per CSS frei definierbar. Details hierzu können den Dateien <em>/css/register.css</em> und dem
   Template unter <em>/APF/sandbox/pres/templates/de/content/register.html</em> entnommen werden.
</p>
<div class="register-wrapper">
   <h3>Registrierung</h3>
   <core:importdesign
      namespace="APF\modules\usermanagement\pres\templates\registration"
      template="register"
   />
</div>
<p>
   Nach der erfolgreichen Anmeldung können Sie sich <a href="?page=login">hier</a> einloggen.
</p>