[submodule "vbc-code"]
	path = viewbasedcaching/APF
	url = https://github.com/AdventurePHP/code
	branch = master
[submodule "calc-code"]
	path = calc/APF
	url = https://github.com/AdventurePHP/code
	branch = master
[submodule "dyn-mod-code"]
	path = dynamic-modules/APF
	url = https://github.com/AdventurePHP/code
	branch = master
