<ul>
   <li><a href="http://adventure-php-framework.org">Online-Dokumentation</a></li>
   <li><a href="http://wiki.adventure-php-framework.org/de">Wiki</a></li>
   <li><a href="http://adventure-php-framework.org/Seite/100-Artikel">Artikel</a></li>
   <li><a href="http://adventure-php-framework.org/Seite/010-FAQs">FAQs</a></li>
   <li><a href="http://forum.adventure-php-framework.org/">Forum</a></li>
</ul>
<ul>
   <li><a href="http://wiki.adventure-php-framework.org/de/Extensions">Extensions</a></li>
   <li><a href="http://adventure-php-framework.org/Seite/118-Community">Community</a></li>
   <li><a href="http://adventure-php-framework.org/Seite/005-Bugtracking">Bugtracking</a></li>
   <li><a href="http://adventure-php-framework.org/Seite/076-Lizenz">Lizenz</a></li>
</ul>
<p>&copy; 2004 - 2014 adventure-php-framework.org</p>