<ul>
   <li><!-- --></li>
   <li><a href=".">Startseite</a></li>
   <li><a href="?page=docs">Doku</a></li>
   <li><a href="?page=class-loader">Laden von Klassen</a></li>
   <li><a href="?page=db-wizard">Datenbank-Wizzard</a></li>
   <li><a href="?page=tmpl-wizard">Template-Wizzard</a></li>
   <li><a href="?page=news-wizard">News-Wizzard</a></li>
   <li><a href="?page=examples">Taglib-Beispiel</a></li>
   <li><a href="?page=umgt-wizard">Benutzer-Verwaltungs-Wizzard</a></li>
   <li><a href="?page=guestbook-wizard">Gästebuch-Wizzard</a></li>

   <core:addtaglib
      class="APF\modules\usermanagement\pres\taglib\UmgtTemplateTag"
      prefix="umgt"
      name="template"
   />
   <core:addtaglib
      class="APF\modules\usermanagement\pres\taglib\UmgtLogoutLinkTag"
      prefix="umgt"
      name="logoutlink"
   />
   <umgt:template condition="logged-in" transform-on-place="true">
      <li><a href="<umgt:logoutlink />">Logout</a></li>
   </umgt:template>
   <umgt:template condition="logged-out" transform-on-place="true">
      <li><a href="?page=login">Login</a></li>
   </umgt:template>

   <umgt:template condition="logged-out" transform-on-place="true">
      <li><a href="?page=register">Registrierung</a></li>
   </umgt:template>

   <umgt:template condition="group" options="Administratoren" transform-on-place="true">
      <li><a href="?page=umgt">Admin</a></li>
   </umgt:template>
</ul>