<ul>
   <li><!-- --></li>
   <li><a href=".">Startseite</a></li>
   <li><a href="?page=docs">Doku</a></li>
   <li><a href="?page=class-loader">Laden von Klassen</a></li>
   <li><a href="?page=db-wizzard">Datenbank-Wizzard</a></li>
   <li><a href="?page=tmpl-wizzard">Template-Wizzard</a></li>
   <li><a href="?page=news-wizzard">News-Wizzard</a></li>
   <li><a href="?page=examples">Taglib-Beispiel</a></li>
   <li><a href="?page=umgt-wizzard">Benutzer-Verwaltungs-Wizzard</a></li>
   <li><a href="?page=guestbook-wizzard">Gästebuch-Wizzard</a></li>

   <core:addtaglib
         class="APF\modules\usermanagement\pres\taglib\UmgtTemplateTag"
         prefix="umgt"
         name="template"
         />
   <umgt:template condition="logged-in" transform-on-place="true">
      <template:addtaglib
            class="APF\modules\usermanagement\pres\taglib\UmgtLogoutLinkTag"
            prefix="umgt"
            name="logoutlink"
            />
      <li><a href="<umgt:logoutlink />">Logout</a></li>
   </umgt:template>
   <umgt:template condition="logged-out" transform-on-place="true">
      <li><a href="?page=login">Login</a></li>
   </umgt:template>

   <umgt:template condition="logged-out" transform-on-place="true">
      <li><a href="?page=register">Registrierung</a></li>
   </umgt:template>

   <umgt:template condition="group" options="Administratoren" transform-on-place="true">
      <li><a href="?page=umgt">Admin</a></li>
   </umgt:template>
</ul>