<h2>Einf&uuml;hrung</h2>
Die vorliegende Seite ist eine Beispiel-Webseite, die zum einen zur Demonstration des Frameworks und
zum anderen als Spielwiese f&uuml;r Entwickler dienen soll. Auf dieser Seite wird deshalb der Aufbau
der Beispiel-Webseite beschrieben. Unter <a href="./?pagepart=tutorial" title="Tutorial">Tutorial</a>
finden Sie ein kleines Tutorial, das zeigt, wie die vorliegende Webseite als Spielwiese genutzt werden
kann.
<br />
<br />
<br />
<h3>1. Aufbau der Beispielwebseite</h3>
<h4>1.1. Einf&uuml;hrung</h4>
Bevor auf die Struktur der Beipiel-Webseite eingegangen wird, noch ein paar Worte zum Adventure PHP
Framework. Das Framework ist per Konzept auf die Erstellung von Webseiten und Webseiten-Modulen bzw.
Web-Applikationen ausgerichtet. Es bringt daher alle Grundlagen und Tools mit, um Webseiten und
Internet-Anwendungen effizient entwickeln zu k&ouml;nnen. Die Quellcodebasis selbst ist dabei in zwei
Teile unterteilt, der Basis (Ordner <strong>core</strong>) und den Hilfsmitteln, die das Leben als
Programmierer erleichtern (Ordner <strong>tools</strong>). Weiterhin sind in jedem Release
allgemeing&uuml;ltige Module enthalten, die auf den beiden Teilen aufsetzen und L&ouml;sungen f&uuml;r
wiederkehrende Probleme bieten. Herausgestellt sei an dieser Stelle der Pager, der zum Bl&auml;ttern
f&uuml;r beliebige Module eingesetzt werden kann.
<br />
<br />
Um bei der Erstellung von Webseiten oder Applikationen die Verwaltung von Dateien zu erleichtern,
besteht die M&ouml;glichkeit im Postback- bzw. Bootstrap-Modus zu arbeiten. Das bedeutet, dass
f&uuml;r eine Webseite eine einzige Datei ausreicht um alle Inhalte und Module auszuliefern. Die
Seite wird dabei aus ihren Einzel-Templates komplett im Speicher aufgebaut und bei der Transformierung
entsprechend gef&uuml;llt, bzw. manipuliert. Details hierzu k&ouml;nnen in der Online-Dokumentation
im Kapitel
<a href="http://www.adventure-php-framework.org/Seite/016-Klassen/~/sites_demosite_biz-action/setReferrer/lang/de" target="_blank" title="Klassen">Klassen</a>
nachgelesen werden.
<br />
<br />
<br />
<h4>1.2. Aufbau der Ordnerstruktur</h4>
Wie in der objektorientierten Welt &uuml;blich, sind die Komponenten des Frameworks in einer nach
Abh&auml;ngigkeit und Bedeutung getrennter Ordner-Struktur untergebracht. Hierbei definiert der
Ordnername das Paket und der Dateiname den Namen der Klasse. Die Ordner und Dateien sind innerhalb
von Programmteilen mit speziellen Funktionen adressierbar. Dies betrifft zum einen die Einbindung
von Klassen und zum anderen das Lesen von Konfigurations-Dateien.
<br />
<br />
Die Beispiel-Webseite besteht aus der folgenden Ordnerstruktur:
<pre class="tagexample">
apps/ (<em>Verzeichnis alle Quellcode-Dateien</em>)
     config/ (<em>Verzeichnis f&uuml;r Konfigurationsdateien</em>)
            core/
            modules/
            tools/

     core/ (<em>Verzeichnis f&uuml;r die Core-Komponenten</em>)
          benchmark/
          configuration/
          database/
          errorhandler/
          filesystem/
          filter/
          frontcontroller/
          logging/
          pagecontroller/
          service/
          session/
          singleton/

     modules/ (<em>Verzeichnis f&uuml;r die Module</em>)
             comments/
             guestbook/
             kontakt4/
             pager/
             socialbookmark/
             weather/ (<em>Verzeichnis f&uuml;r das RSS-Wetter-Module; siehe Tutorial</em>)

     sites/ (<em>Verzeichnis f&uuml;r Webseitendateien</em>)
           apfexample/
                      pres/
                           de/
                              content/
                           en/
                              content/
     tools/ (<em>Verzeichnis f&uuml;r die Tools-Komponenten</em>)
           cache/
           datetime/
           form/
                taglib/
           html/
                taglib/
           image/
           link/
           mail/
           string/
           validator/
           variablen/

css/ (<em>Verzeichnis f&uuml;r CSS-Dateien</em>)

media/ (<em>Verzeichnis f&uuml;r Mediendateien</em>)

de/ (<em>Verzeichnis f&uuml;r die deutsche Version der Beispielseite</em>)

en/ (<em>Verzeichnis f&uuml;r die englische Version der Beispielseite</em>)
</pre>
Die Liste zeigt bereits einen wichtigen Punkt: die Trennung zwischen Quellcode und Applikation. Das
bedeutet, dass mit einem einzigen Quellcode-Stamm (Ordner <strong>apps</strong>) beliebig viele und
unterschiedliche Webseiten und Applikationen bedient werden k&ouml;nnen. Dies ist dadurch
m&ouml;glich, dass alle Quellcode-Dateien und Templates in eine einheitliche Struktur unterhalb des
<strong>apps</strong>-Ordners zu verpackt wurden. Welche Applikation ausgeliefert werden soll bestimmt
der Entwickler dabei in der Bootstrap-Datei.
<br />
<br />
Die Bedeutung der einzelnen Ordner und Komponenten kann in der
<a href="http://www.adventure-php-framework.org/Seite/002-API-Dokumentation/~/sites_demosite_biz-action/setReferrer/lang/de" target="_blank" title="API-Dokumentation">API-Dokumentation</a>,
sowie in der
<a href="http://www.adventure-php-framework.org/Seite/013-Grundlagen/~/sites_demosite_biz-action/setReferrer/lang/de" target="_blank" title="Online-Dokumentation">Online-Dokumentation</a>
noch genauer nachgelesen werden.
<br />
<br />
<br />
<h4>1.3. Aufbau der Bootstrap-Datei</h4>
Wie bereits angesprochen, ist es mit dem Adventure PHP Framework m&ouml;glich, mit einer
Bootstrap-Architektur zu arbeiten. Bei gro&szlig;en Projekten ist es ohnehin zu empfehlen,
da ab einer gewissen Anzahl an Dateien sowohl die &Uuml;bersicht, als auch die Wartbarkeit verloren
geht. Auch bei kleinen Projekten kann es sich auszahlen, Quellcode nicht mehrfach pflegen zu
m&uuml;ssen.
<br />
<br />
Eine typische <strong>index.php</strong> enth&auml;lt folgende Code-Teile:
<core:addtaglib namespace="sites::apfexample::pres::taglib" prefix="php" class="highlight" />
<php:highlight>
   // Page-Controller einbinden
   include_once('./apps/core/pagecontroller/pagecontroller.php');

   // Seite erzeugen
   $Page = new Page('{1}');

   // Seiten-Struktur aufbauen
   $Page->loadDesign('{2}','{3}');

   // Seite transformieren und ausgeben
   echo $Page->transform();
</php:highlight>
Den mit <strong>{x}</strong> gekennzeichneten Platzhaltern kommt dabei folgende Bedeutung zu:
<ul>
  <li>
    <strong>{1}</strong>: Name der Webseite. Dieser Name betitelt lediglich den Namen des Objekts
    "Page" und wird nicht zur Anzeige gebracht. Das Argument ist zudem optional.
  </li>
  <li>
    <strong>{2}</strong>: Namespace zum Basis-Template bzw. Context. Um ein Design laden zu
    k&ouml;nnen sind die Angaben "Namespace" bzw. "Pfad" und "Designname" notwendig. Der erste Teil
    ("Namespace" bzw. "Pfad") wird zugleich als Context f&uuml;r Konfigurationsbelange eingesetzt
    (siehe hierzu <a href="http://www.adventure-php-framework.org/Seite/033-Konfiguration/~/sites_demosite_biz-action/setReferrer/lang/de" target="_blank" title="Konfiguration">Konfiguration</a>).
  </li>
  <li>
    <strong>{3}</strong>: Name des Basis-Templates. Hier kann entweder der Name des Basis-Templates
   ohne dessen Endung oder ein Sub-Pfad incl. Name des Basis-Templates ohne Endung angegeben werden.
  </li>
</ul>
Der folgende Quellcode-Kasten zeigt den Aufbau der <strong>index.php</strong> der Beispiel-Webseite:
<br />
<br />
<core:addtaglib namespace="sites::apfexample::pres::taglib" prefix="file" class="highlight" />
<file:highlight name="index.php" />
<br />
Die letzten 10 Zeilen sind f&uuml;r die Funktion nicht relevant, es wird jedoch durch Anh&auml;ngen
von
<pre class="tagexample">
&benchmarkreport=true
</pre>
an die URL ein Benchmarkreport ausgegeben, der zeigt, wo welche Zeit zur Verarbeitung ben&ouml;tigt
wird. N&auml;here Informationen k&ouml;nnen in der Online-Hilfe im Kapitel
<a href="http://www.adventure-php-framework.org/Seite/004-Benchmark/~/sites_demosite_biz-action/setReferrer/lang/de" target="_blank" title="Benchmark">Benchmark</a>
nachgelesen werden.
<br />
<br />
<br />
<h4>1.4. Aufbau der Templates</h4>
Templates spielen im Adventure PHP Framework eine entscheidende Rolle. Abstrakter betrachtet ist
dabei Knoten einer Webseite eine kleine MVC-Einheit, die aus einem Model (zumeist dem Model der
Applikation oder Webseite), dem View(-Template), einem XML-/HTML-Template, und einem Controller
(DocumentController), falls erw&uuml;nscht, besteht. Den Kern des Frameworks stellt der PageController
dar, der aus einem Template einen Objektbaum erzeugt und daf&uuml;r sorgt, dass bei der Transformation
die entsprechenden Controller ausgef&uuml;hrt werden.
<br />
<br />
Mit der Gestaltung der Templates definiert der Entwickler quasi die Komplexit&auml;t der Seite und
den Aufbau des Objektbaums. In der <strong>index.php</strong> wird mit der Methode
<strong>loadDesign()</strong> ein initiales Template einer Applikation oder eines Modules geladen,
das die oberste Ebene des Aufbaus der Seite definiert. Im Fall der Beispielwebseite ist das die
Datei <strong>website.html</strong> im Ordner <strong>apps/sites/apfexample/pres/templates/de</strong>.
Dieses enth&auml;lt die Layoutstruktur der Seite und definiert Bereiche, in denen weitere Templates
eingebunden werden. Jedes eingebundene Template bildet dabei einen Kind des aktuellen Baum-Knotens.
Die Verschachtelungstiefe ist dabei nicht beschr&auml;nkt. Das angesprochene Template wird in der
folgenden Codebox angezeigt:
<br />
<br />
<file:highlight name="website.html_de" />
<br />
Im Template werden zwei <strong>&lt;core:importdesign /&gt;</strong> Tags verwendet. Das erste bindet
das Men&uuml;-Template ein, das zweite die Inhaltstemplates. Weitere Informationen zu den im Framework
enthaltenen Tags k&ouml;nnen in der Onlinehilfe unter
<a href="http://www.adventure-php-framework.org/Seite/046-Standard-TagLibs/~/sites_demosite_biz-action/setReferrer/lang/de" target="_blank" title="Standard-TagLibs">Standard-TagLibs</a>
nachgelesen werden.
<br />
<br />
<br />
<h3>2. Basiskonfiguration</h3>
Im Gegensatz zu fr&uuml;heren Versionen (&lt; 1.7) ben&ouml;tigt das Framework zun&auml;chst keine
weitere Konfiguration. Intern werden jedoch einige Basis-Konfigurationsparameter im Namespace
<strong>apf::core</strong> der <strong>Registry</strong> verwaltet. M&uuml;ssen diese f&uuml;r den
speziellen Anwendungsfall angepasst werden, so kann das in der Boostrap-Datei wie nachfolgend
dargestellt bewerkstelligt werden. Die Registry dient nicht nur als zentraler Informationspool f&uuml;r
das Framework, sondern kann auch f&uuml;r die Steuerung von konkreten Anwendungen eingesetzt werden.
<php:highlight>
   // Page-Controller einbinden
   include_once('./apps/core/pagecontroller/pagecontroller.php');

   // Instanz der Registry beziehen
   $Reg = &Singleton::getInstance('Registry');

   // Umgebungsvariable manipulieren
   $Reg->register('apf::core','Environment','MY_ENV');

   // Basis-Pfad der Applikation manipulieren
   $Reg->register('apf::core','URLBasePath','http://mybaseurl.de');

   // URLRewriting-Modus &auml;ndern (true: URL wird mit / dargestellt, false: "normale" URLs)
   $Reg->register('apf::core','URLRewriting',true);

   // Log-Verzeichnis anpassen
   $Reg->register('apf::core','LogDir','/Pfad/zu/meinem/Log/Verzeichnis');

   // Seite erzeugen
   $Page = new Page('{1}');

   // Seiten-Struktur aufbauen
   $Page->loadDesign('{2}','{3}');

   // Seite transformieren und ausgeben
   echo $Page->transform();
</php:highlight>
Die aufgef&uuml;hrten Parameter haben folgende Bedeutung:
<ul>
  <li>
    <strong>Environment</strong>: <em>(verwendet von: configurationManager, MySQLxHandler, MySQLHandler, SQLiteHandler, ...)</em>
    <br />
    <br />
    Jede Konfigurations-Datei besteht aus vier unterschiedlichen Bestandteilen:
    <br />
    <br />
    <ul>
      <li>Namespace: Ordner, unterhalb dem alle Konfigurationsdateien dieser Anwendung liegen</li>
      <li>Context: Aktueller Context der Applikation</li>
      <li>Umgebung: z.B. f&uuml;r Entwicklung, Test und Live</li>
      <li>Dateinamen: Dateiname der Konfigurationsdatei</li>
    </ul>
    <br />
    Diese Abstraktion wurde eingef&uuml;hrt, damit eine Anwendung oder ein Modul in unterschiedliche
    andere Anwendungen oder Module eingebunden werden kann und auf unterschiedlichen Systemen zur
    gleichen Zeit ohne &Auml;nderung des Quellcodes lauff&auml;hig ist. F&uuml;r das Laden von
    Konfigurationen gibt es jedoch standardisierte Methoden, so dass sich der Programmierer darum nicht
    mehr k&uuml;mmern muss. Weiterf&uuml;hrendes dazu kann im Kapitel
    <a href="http://www.adventure-php-framework.org/Seite/033-Konfiguration/~/sites_demosite_biz-action/setReferrer/lang/de" target="_blank" title="Konfiguration">Konfiguration</a>
    nachgelesen werden.
    <br />
    <br />
    <strong>Standard-Wert:</strong> &quot;DEFAULT&quot;
    <br />
    <br />
    <br />
  </li>
  <li>
    <strong>URLBasePath</strong>: <em>(verwendet von: bbCodeParser, socialBookmarkManager, Suche, ...)</em>
    <br />
    <br />
    Viele Module verlinken auf sich selbst oder ander Bereiche eines Moduls oder einer Webseite. Aus
    diesem Grund muss bekannt sein, wie die Basis-URL der Seite lautet. Der Registry-Wert
    URLBasePath definiert diese.
    <br />
    <br />
    <strong>Standard-Wert:</strong> &quot;HTTP_HOST-Wert des $_SERVER-Arrays&quot;
    <br />
    <br />
    <br />
  </li>
  <li>
    <strong>URLRewriting</strong>: <em>(verwendet von: PageController, FrontController, linkHandler, frontcontrollerLinkHandler, ...)</em>
    <br />
    <br />
    Der vorliegende PageController unterst&uuml;tzt URL-Rewriting. Unter URL-Rewriting versteht der
    Autor die Verwendung von URLs der Form <em>http://www.domain.tld/param1/value1/param2/value2</em>
    statt <em>http://www.domain.tld?param1=value1&amp;param2=value2</em>. Ist der Wert auf "true" gesetzt,
    so werden die mit den <strong>linkHandler</strong> und <strong>frontcontrollerLinkHandler</strong>
    generierten Links in der rewriteten Form ausgegeben.
    <br />
    <br />
    <strong>Standard-Wert:</strong> &quot;false&quot;
    <br />
    <br />
    <br />
  </li>
  <li>
    <strong>LogDir</strong>: <em>(verwendet von: Logger, ...)</em>
    <br />
    <br />
    Um zentrales Logging zu erm&ouml;glichen, muss der Pfad, in den Log-Dateien geschreiben werden
    zentral bekannt gegeben werden. Der Pfad wird von der Klasse <strong>Logger</strong> verwendet.
    <br />
    <br />
    <strong>Standard-Wert:</strong> &quot;./logs&quot;
    <br />
    <br />
    <br />
  </li>
  <li>
    <strong>LibPath</strong>: <em>(verwendet von: bbCodeParser, ...)</em>
    <br />
    <br />
    Die Direktive <strong>LibPath</strong> speichert den Basis-Pfad, in dem die Programmdateien
    abgelegt wurden. Der Pfad wird dynamisch gesetzt und ist nur f&uuml;r den lesenden Zugriff
    freigegeben.
    <br />
    <br />
  </li>
</ul>
<h3>3. Neues Projekt</h3>
Um ein neues Webseitenprojekt zu erstellen wird folgende Vorgehensweise vorgeschlagen:
<ol>
  <li>
    Erstellen der Ordnerstruktur des Projektes. Hierbei ist der Entwickler frei, die Struktur der
    via HTTP erreichbaren Dateien (Bilder, CSS-Dateien, ...) zu gestalten.
  </li>
  <li>
    Herunterladen eines aktuellen codepack-*-Releases unter
    <a href="http://www.adventure-php-framework.org/Seite/008-Downloads/~/sites_demosite_biz-action/setReferrer/lang/de" title="Downloads" target="_blank">Downloads</a>.
  </li>
  <li>Entpacken des Framework-Codes in den Projektordner.</li>
  <li>
    Erstellen der Ordnerstruktur im apps-Ordner. Hierbei wird vorgeschlagen f&uuml;r ein neues
    Webprojekt einen neuen Ordner unterhalb von <strong>apps/sites/</strong> anzulegen.
  </li>
</ol>
Weitere Informationen dazu k&ouml;nnen im Online-Tutorial
<a href="http://www.adventure-php-framework.org/Seite/048-Webseite-erstellen/~/sites_demosite_biz-action/setReferrer/lang/de" title="Eigene Webseite erstellen" target="_blank">Eigene Webseite erstellen</a>
nachgelesen werden.