<h3>Links</h3>
Sollten Sie Fragen haben, finden Sie hier Online-Ressourcen, die helfen, die Fragen zu beantworten:
<br />
<br />
<br />
<h6>Deutsches Support-Forum</h6>
<a href="http://forum.adventure-php-framework.org/de/" target="_blank" title="Deutsches Support-Forum">http://forum.adventure-php-framework.org/de/</a>
<br />
<br />
<br />
<h6>Online-Dokumentation</h6>
<a href="http://www.adventure-php-framework.org/Seite/009-Einfuehrung/~/sites_demosite_biz-action/setReferrer/lang/de" target="_blank" title="Online-Dokumentation">http://www.adventure-php-framework.org/Seite/009-Einfuehrung</a>
<br />
<br />
<br />
<h6>API-Dokumentation</h6>
<a href="http://www.adventure-php-framework.org/Seite/008-Downloads/~/sites_demosite_biz-action/setReferrer/lang/de" target="_blank" title="API-Dokumentation">http://www.adventure-php-framework.org/Seite/008-Downloads</a>
<br />
<br />
<br />
<h6>Webseiten-Tutorial</h6>
<a href="http://www.adventure-php-framework.org/Seite/048-Webseite-erstellen/~/sites_demosite_biz-action/setReferrer/lang/de" target="_blank" title="Webseiten-Tutorial">http://www.adventure-php-framework.org/Seite/048-Webseite-erstellen</a>