<core:addtaglib namespace="sites::apfexample::pres::taglib" prefix="curr" class="date" />
<div style="text-align: right;">
  <em>Ausgabe des Tags &lt;curr:date /&gt;:</em> <strong><curr:date /></strong>
</div>
<h3>Spielwiese</h3>
Diese Seite ist ein Platzhalter. Sie kann dazu genutzt werden um Erweiterungen und Modifikationen
auszuprobieren. Um diese Seite zu ver&auml;ndern, einfach die Datei
<pre class="tagexample">
apps/sites/apfexample/pres/templates/de/content/spielwiese.html
</pre>
ein einem Editor Ihrer Wahl &ouml;ffnen. Anregungen zum Ausprobieren finden sich im Tutorial
<a href="./?pagepart=tutorial" title="Erste Schritte">Erste Schritte</a>.
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />