<h3>Herzlich Willkommen!</h3>
Danke, dass Sie sich f&uuml;r das Adventure PHP Framework entschieden haben. Die aufgerufene
Demo-Webseite m&ouml;chte Ihnen eine Einf&uuml;hrung in die Features des Frameworks und dessen
Verwendung geben.
<br />
<br />
<br />
<br />
<h6>Einf&uuml;hrung</h6>
<a href="./?pagepart=einfuehrung" title="Einf&uuml;hrung">Einf&uuml;hrung</a> in das Framework und
Aufbau der Demo-Webseite.
<br />
<br />
<br />
<h6>Links</h6>
<a href="./?pagepart=links" title="Links">Links</a> zu den wichtigsten Materialien
und zum Forum.
<br />
<br />
<br />
<h6>Tutorial</h6>
<a href="./?pagepart=tutorial" title="Tutorial">Tutorial</a> mit einer Schritt-f&uuml;r-Schritt-Anleitung
zur Erweiterung der Demo-Webseite.
<br />
<br />
<br />
<br />