<h3>Erste Schritte</h3>
Das folgende Tutorial enth&auml;lt erste Schritte mit dem Framework und eine Anleitung zur
Erweiterung der Beispiel-Webseite.
<br />
<br />
<br />
<h4>1. Erweiterung der Inhalte</h4>
In der vorliegenden Webseite werden die Inhalte &uuml;ber das <strong>&lt;core:importdesign /&gt;</strong>
Tag eingebunden. Dabei wird von der M&ouml;glichkeit Gebrauch gemacht, den Namen des Templates per
URL steuern zu k&ouml;nnen. Hierzu wurde im Template <strong>website.html</strong> folgendes
definiert:
<pre class="tagexample">
  &lt;core:importdesign
                  namespace="sites::apfexample::pres::templates::de::content"
                  template="[pagepart = start]"
  /&gt;
</pre>
In Worten gesprochen verh&auml;lt sich das Tag wie folgt: "Binde aus dem Namespace
<em>sites::apfexample::pres::templates::de::content</em> dasjenige Template ein, das mit dem
URL-Parameter <strong>pagepart</strong> beschrieben wurde. Ist der Parameter nicht in der URL
vorhanden, dann soll das Template <strong>start</strong> angezeigt werden!".
<br />
<br />
Um nun weitere Inhalte hinzuf&uuml;gen zu k&ouml;nnen, m&uuml;ssen im Ordner
<pre class="tagexample">
apps/sites/apfexample/pres/templates/de/content
</pre>
weitere Inhaltsdateien angelegt werden. Der Name der Datei richtet sich nach dem Inhalt des
URL-Parameters <strong>pagepart</strong>, die Endung muss <strong>.html</strong> sein. F&uuml;r den
Dateinamen sind jedoch nur die Zeichen <strong>a-z</strong> und die Zahlen <strong>0-9</strong>
erlaubt. Um &uuml;ber die URL
<pre class="tagexample">
/de/?pagepart=meineneueseite
</pre>
eine neu erstellte Seite zu erreichen, muss eine Datei mit dem Namen <strong>meineneueseite.html</strong>
angelegt werden.
<br />
<br />
Diese Methode der Inhaltseinbindung ist jedoch nur <u>eine</u> M&ouml;glichkeit, wie das Framework
dazu verwendet werden kann, dynamisch Inhalte in eine Seite einzubinden. Im Tutorial
<a href="http://www.adventure-php-framework.org/Seite/048-Webseite-erstellen/~/sites_demosite_biz-action/setReferrer/lang/de" target="_blank" title="Erste Webseite erstellen">Erste Webseite erstellen</a>
werden weitere M&ouml;glichkeiten aufgezeigt, die sich im Allgemeinen besser f&uuml;r die Erstellung
gr&ouml;&szlig;erer Seiten eignen.
<br />
<br />
<br />
<h4>2. Anpassung des Desigs</h4>
Das Design bzw. das Layout der Webseite wird im wesentlichen durch das initiale Template bestimmt.
Es definiert das HTML-Ger&uuml;st und sieht Bereiche f&uuml;r Header, Men&uuml;, Sprachumschaltung,
Inhalt und Footer vor. Besteht nun der Wunsch, eine weitere Navigation auf der linken Seite einzubauen,
muss das initiale Template entsprechend erweitert bzw, ver&auml;ndert werden.
<br />
<br />
Dieser Teil des Tutorials soll zeigen, wie eine zweite Navigation, die in einem eigenen Template
definiert ist, in die Seite eingebunden werden kann. Das Ergebnis des Tutorials kann unter
<a href="./pagewithmenu.php?pagepart=tutorial" title="Webseite mit zweitem Men&uuml;" target="_blank">pagewithmenu.php</a>
angezeigt werden.
<br />
<br />
Zun&auml;chst muss das Haupt-Template angepasst und ein Bereich eingef&uuml;gt werden, der
den Men&uuml;-Bereich aufnehmen kann. Dazu wird eine weitere Spalte in die Layout-Tabelle eingebaut
und dort ein weiteres Template inkludiert:
<pre class="tagexample">
 ...
 &lt;table cellpadding="0" cellspacing="0" style="width: 100%;"&gt;
   <span style="color: #759D11; font-weight: bold;">
   &lt;td style="width: 206px; vertical-align: top; padding-left: 30px;"&gt;
     &lt;core:importdesign namespace="sites::apfexample::pres::templates::de" template="menu" /&gt;
   &lt;/td&gt;
   </span>
   &lt;tr&gt;
     &lt;td style="vertical-align: top;"&gt;
       &lt;div id="top_repeat_border"&gt;
         &lt;div id="bottom_repeat_border"&gt;
           &lt;div id="left_repeat_border"&gt;
             &lt;div id="right_repeat_border"&gt;
               &lt;div id="left_top_corner"&gt;
                 &lt;div id="left_bottom_corner"&gt;
                   &lt;div id="right_top_corner"&gt;
                     &lt;div id="right_bottom_corner"&gt;
                       &lt;div id="scalable_content_div"&gt;
                         &lt;core:importdesign
                                        namespace="sites::apfexample::pres::templates::de::content"
                                        template="[pagepart = start]"
                         /&gt;
                       &lt;/div&gt;
                     &lt;/div&gt;
                   &lt;/div&gt;
                 &lt;/div&gt;
               &lt;/div&gt;
             &lt;/div&gt;
           &lt;/div&gt;
         &lt;/div&gt;
       &lt;/div&gt;
     &lt;/td&gt;
   &lt;/tr&gt;
 &lt;/table&gt;
 ...
</pre>
Anschlie&szlig;end muss im Ordner <strong>apps/sites/apfexample/pres/templates/de</strong> eine Datei
mit dem Namen <strong>menu.html</strong> erstellt und gef&uuml;llt werden. Da der Inhalt des
Templates statisch ist, wird an dieser Stelle nicht auf die Erstellung eingegangen, kann jedoch im
genannten Ordner eingesehen werden.
<br />
<br />
<br />
<h4>3. Einbindung von Modulen</h4>
Module im Sinne des Adventure PHP Frameworks sind abgeschlossene Software-Bereiche, die durch die
generische Auslegung in verschiedene Projekte eingebunden werden k&ouml;nnne. Die Anpassung erfolgt
dabei lediglich durch Konfigurationsdateien und nicht durch Quellcode-&Auml;nderungen. Das Framework
kennt dabei zur Einbindung einen sehr einfachen Weg: das <strong>&lt;core:importdesign /&gt;</strong>-Tag.
Damit kann ein Modul ganz einfach auf GUI-Ebene eingebunden werden und f&uuml;gt sich nahtlos in die
bisherige Struktur ein.
<br />
<br />
&Uuml;blicherweise werden Module unterhalb des Ordners <strong>apps/modules</strong> strukturiert.
Das RSS-Wetter-Anzeige-Modul, das in diesem Kapitel als Beispiel verwendet werden soll, ist im
Namespace <strong>modules::weather</strong> abgelegt. Dort existiert die folgende Ordner-Struktur:
<pre class="tagexample">
apps/ (<em>Verzeichnis alle Quellcode-Dateien</em>)
     modules/ (<em>Verzeichnis f&uuml;r die Module</em>)
             weather/ (<em>Verzeichnis f&uuml;r das RSS-Wetter-Module; siehe Tutorial</em>)
                     pres/ (<em>Verzeichnis f&uuml;r die Komponenten der Pr&auml;sentationsschicht</em>)
                          documentcontroller/  (<em>Verzeichnis f&uuml;r alle DocumentController</em>)
                          templates/ (<em>Verzeichnis f&uuml;r alle Templates</em>)
</pre>
Das RSS-Wetter-Anzeige-Modul konsumiert im Web angebotene RSS-Feeds und bringt diese zur Anzeige.
Entwickelt wurde das Modul f&uuml;r den RSS-Stream <strong>http://feeds.feedburner.com/wettercom/rss</strong>,
es k&ouml;nnen jedoch ebenso weitere konforme Streams konsumiert werden.
<br />
<br />
Wie bereits angesprochen, k&ouml;nnen Module bequem auf GUI-Ebene eingef&uuml;gt werden.
&Uuml;blicherweise wird dazu das <strong>&lt;core:importdesign /&gt;</strong>-Tag verwendet. Da der
Tag-Parser eine beliebige Anzahl von Attributen pro XML-String zul&auml;sst, k&ouml;nnen bei der
Einbindung weitere Attribute zur Konfiguration des Moduls mitgegeben werden. Im Fall des
RSS-Wetter-Anzeige-Moduls muss die RSS-Quelle mit dem Attribut <strong>rss_source</strong> definiert
werden. Die Einbindung des Moduls gestaltet sich demnach wie folgt:
<pre class="tagexample">
  &lt;core:importdesign
             namespace="modules::weather::pres::templates"
             template="weather"
             rss_source="http://feeds.feedburner.com/wettercom/rss"
  /&gt;
</pre>
Um die Inhalte des Moduls anzeigen zu k&ouml;nnen muss eine weitere Content-Datei gem&auml;&szlig;
der Beschreibung aus Kapitel 1. Der Inhalt der Datei muss die Tag-Definition der der obigen Codebox
sein. Anschlie&szlig;end kann die neu angelegte Seite im Browser aufgerufen werden.
<br />
<br />
<br />
<h4>4. Erstellen von eigenen TagLibs bzw. Modulen</h4>
TagLibs und Module sind eine eleganze M&ouml;glichkeit, bestehende Funktionalit&auml;ten Schritt
f&uuml;r Schritt erweitern zu k&ouml;nnen ohne gro&szlig;e &Auml;nderung an der der Basis
durchf&uuml;hren zu m&uuml;ssen. Kapitel 4 m&ouml;chte an einem einfachen Beispiel zeigen, wie eine
neue Funktion per Tags eingebunden werden kann. Zu Demonstrationszwecken soll dabei das aktuelle
Datum und die aktuelle Uhrzeit im Inhaltsbereich der Seite angezeigt werden.
<br />
<br />
<br />
<h5>4.1. Definition eines Tags</h5>
Jeder XML-Tag besteht im Wesentlichen aus einem <strong>Prefix</strong> und einem
<strong>Klassennamen</strong>. Diese sollten sprechend sein um eine Wiedererkennung innerhalb der
Templates zu gew&auml;hrleisten. F&uuml;r den Tag zur Ausgabe des Datums w&auml;hlen wir deshalb
<strong>curr:time</strong> als Namen.
<br />
<br />
<br />
<h5>4.2. Erstellung des Tags</h5>
Bevor wir die Funktionalit&auml;t des Tags - eine von <strong>Document</strong> abgeleitete Klasse -
implementieren, muss noch gekl&auml;rt werden, wo die Klasse abgelegt werden soll. Die Ausgabe des
Datums wertet dabei lediglich die Beispiel-Webseite auf, was bedeutet, dass die TagLib eine starke
Zugeh&ouml;rigkeit zum Projekt hat. Auf Grund dieser Tatsache schickt es sich, den Quellcode unterhalb
des Projektes abzulegen. Wie bereits in der
<a href="./?pagepart=einfuehrung" title="Einf&uuml;hrung">Einf&uuml;hrung</a> angesprochen wurde,
liegen alle Dateien der Beispiel-Webseite unter dem Ordner
<pre class="tagexample">
apps/sites/apfexample/
</pre>
Da Tags &uuml;blicherweise der Pr&auml;sentationsschicht angeh&ouml;ren, wird die Tag-Definition
&uuml;blicherweise in einem Ordner unterhalb des Ordners <strong>pres</strong> abgelegt. Um zu
kannzeichnen, dass es sich um TagLibs handelt wird dieser &uuml;blicherweise <strong>taglib</strong>
genannt.
<br />
<br />
Ein Tag besteht immer aus der Implementierung einer TagLib-Klasse. Der Namen der Klasse setzt sich
aus dem <strong>Prefix</strong> des Tags, der Zeichenfolge <strong>_taglib_</strong> und dem
<strong>Klassennamen</strong> zusammen. F&uuml;r das hier beschriebene Beispiel ergibt sich somit
der Name <strong>curr_taglib_time</strong>. Das Adventure PHP Framework definiert dar&uuml;ber
hinaus die Konvention, dass Dateinamen identisch den Klassenamen gehalten werden m&uuml;ssen. Das
vereinfacht nicht nur die Strukturierung, sondern auch die Einbindung von TagLibs und Komponenten.
Wir erstellen also eine Datei mit dem Namen
<pre class="tagexample">
curr_taglib_date.php
</pre>
im Ordner
<pre class="tagexample">
apps/sites/apfexample/pres/taglib
</pre>
Der Aufbau der Datei ist denkbar einfach: er enth&auml;lt den Klassenrumpf und die Implementierung
der Methode <strong>transform()</strong>. Letztere wird dann aufgerufen, wenn der DOM Baum der Seite
transformiert wird. Der PageController erwartet dabei, dass die Funktion den Inhalt des transformierten
Tags zur&uuml;ckgibt. Im Fall der Datumsanzeige soll das aktuelle Datum zur&uuml;ckgeliefert werden.
Die TagLib-Klasse sieht damit wie folgt aus:
<br />
<core:addtaglib namespace="sites::apfexample::pres::taglib" prefix="php" class="highlight" />
<php:highlight>
   class curr_taglib_date extends Document
   {

      function curr_taglib_date(){
      }

      function transform(){
         return date('l, d.m.Y, H:i:s');
       // end function
      }

    // end class
   }
</php:highlight>
Um den Tag in eine Seite einbinden zu k&ouml;nnen muss die TagLib dem Parser zun&auml;chst bekannt
gemacht werden. Das passiert mit einem
<pre class="tagexample">
&lt;core:addtaglib namespace="sites::apfexample::pres::taglib" prefix="curr" class="date" /&gt;
</pre>
Anschlie&szlig;end - und unmittelbar danach - kann das Tag per
<pre class="tagexample">
&lt;curr:date /&gt;
</pre>
in die Seite eingebaut werden. Um die Funktion zu veranschaulichen wurde das Tag in die
<a href="./?pagepart=spielwiese" title="Spielwiese">Spielwiese</a> eingebaut. Der Vollst&auml;ndigkeit
wegen ist die Datei bereits im genannten Verzeichnis vorhanden.