<table cellpadding="0" cellspacing="0" style="width: 182px;"">
  <tr>
    <td style="height: 10px;"></td>
  </tr>
  <tr>
    <td colspan="3" class="menu_section">
      <a href="./pagewithmenu.php?pagepart=start" title="Startseite" class="menu_section_links">Startseite</a>
    </td>
  </tr>
  <tr>
    <td style="height: 10px;"></td>
  </tr>
  <tr>
    <td colspan="3" class="menu_section">
      Dokumentation
    </td>
  </tr>
  <tr>
    <td style="height: 3px;"></td>
  </tr>
  <tr>
    <td style="width: 6px; height: 18px;"></td>
    <td class="menu_item">
      &bull;&nbsp;<a href="./pagewithmenu.php?pagepart=einfuehrung" title="Einf&uuml;hrung" class="menu_links">Einf&uuml;hrung</a>
    </td>
    <td style="width: 9px; height: 18px;"></td>
  </tr>
  <tr>
    <td style="height: 2px;"></td>
  </tr>
  <tr>
    <td style="width: 6px; height: 18px;"></td>
    <td class="menu_item">
      &bull;&nbsp;<a href="./pagewithmenu.php?pagepart=links" title="Links" class="menu_links">Links</a>
    </td>
    <td style="width: 9px; height: 18px;"></td>
  </tr>
  <tr>
    <td style="height: 2px;"></td>
  </tr>
  <tr>
    <td style="width: 6px; height: 18px;"></td>
    <td class="menu_item">
      &bull;&nbsp;<a href="./pagewithmenu.php?pagepart=tutorial" title="Tutorial" class="menu_links">Tutorial</a>
    </td>
    <td style="width: 9px; height: 18px;"></td>
  </tr>
  <tr>
    <td style="height: 2px;"></td>
  </tr>
</table>