<a href="./?pagepart=start" title="Startseite" class="top_menu_links">Startseite</a>
&nbsp;|&nbsp;
<a href="./?pagepart=einfuehrung" title="Einf&uuml;hrung" class="top_menu_links">Einf&uuml;hrung</a>
&nbsp;|&nbsp;
<a href="./?pagepart=links" title="Links" class="top_menu_links">Links</a>
&nbsp;|&nbsp;
<a href="./?pagepart=tutorial" title="Erste Schritte" class="top_menu_links">Erste Schritte</a>
&nbsp;|&nbsp;
<a href="./?pagepart=spielwiese" title="Spielwiese" class="top_menu_links">Spielwiese</a>