<@controller class="SB\pres\controller\DatabaseContentController" @>
<h2>Datenbank-Inhalte</h2>
<p>
   Diese Seite zeigt Inhalte aus der Datenbank an, die mit dem
   <a href="./?page=db-wizzard#step-3">Datenbank-Wizzard</a> angelegt werden können.
</p>
<p>
   Der folgende Bereich zeigt die Seite mit den Url-Namen
   &quot;<html:placeholder name="urlname" />&quot;:
</p>
<html:template name="no-content">
   <div class="err">
      Es konnte kein Inhalt mit dem angegebenen Url-Namen gefunden werden.
   </div>
</html:template>
<html:template name="content">
   <div class="db-content">
      <template:placeholder name="content" />
   </div>
</html:template>
<html:template name="no-config">
   <div class="err">
      Es konnte keine Datenbank-Konfiguration gefunden werden. Bitte legen Sie diese mit dem
      <a href="?page=db-wizzard">Datenbank-Wizzard</a> an.
   </div>
</html:template>