<h2>APF sandbox</h2>
<p>
   Vielen Dank, dass Sie sich für das Adventure PHP Framework (APF) entschieden haben.
   Wir sind überzeugt, für Sie ein Entwicklungs-Werkzeug bereitgestellt zu haben, das
   sie schnell zu einem qualitativ hochwertigen Ergebnis bringt.
</p>
<p>
   Die Sandbox bietet einen schnellen Einstieg in das APF und beinhaltet essentielle
   Dokumentations-Inhalte als Offline-Version. Daneben können Sie mit dem
   <a href="?page=db-wizzard">Datenbank-Config-</a> und <a href="?page=tmpl-wizzard">Template</a>-Wizzard
   interaktiv die Möglichkeiten des APF testen und die Sandbox-Seite schrittweise ausbauen.
</p>
<p>
   Sollten Sie Fragen zum APF haben, können Sie die
   <a href="http://adventure-php-framework.org">offizielle Dokumentation</a>
   oder das <a href="http://forum.adventure-php-framework.org/">Forum</a>
   nutzen.
</p>