<h2>Introduction</h2>
The present website is meant to be an example to demonstrate the framework and to provide a fully
function development environment. This section of the content deals with the structure of the
demo page. The <a href="./?pagepart=tutorial" title="My first steps">my first steps</a> tutorial
illustrates how the project can be used as a playground and for developing new modules.
<br />
<br />
<br />
<h3>1. Structure of the demo page</h3>
<h4>1.1. Introduction</h4>
Before taking a closer look to the architecture of this project it is worth to describe the framework
as it is now. The adventure php framework's concept is focused on building webpages and modules or
even complex web applications. Therefore it features all fundamentals and tools to develop webpages
efficiently. The core of the framework is split into two parts: the core (folder <strong>core</strong>)
and some tools, that ease the developer's daily life (folder <strong>tools</strong>). Further, each
release ships a number of generic modules, that provide solutions for common problems. On of these
modules is the pager module, that can be applied to implement pagination in a confortable way and for
any modules.
<br />
<br />
The framework is designed to support the bootstrap or postback mode. This means, that the entire
page and it's modules can be delivered using only one single file. This goal is achieved by the fact,
that the complete web page is created as a DOM structure in memory. During transformation the sceleton
is filled with content and manipulated by the functionality the developer adds. Details on the DOM
structure can be read about in the
<a href="http://adventure-php-framework.org/Page/016-Classes" target="_blank" title="Klassen">classes</a>
chapter online.
<br />
<br />
<br />
<h4>1.2. Folder structure</h4>
As is the rule in the object orientated world the conponents of the framework are stored in an
hirarchically folder structure with respect to their dependency and significance. Here, the folder
name the name of the package and the file name the name of the class. Hence, the files and folders
can be addressed using standard functions included in the framework. This affects the inclusion of
classes and loading configuration files.
<br />
<br />
The demo website contains of the following folder structure:
<pre class="tagexample">
apps/ (<em>Directory for all source code files</em>)
     config/ (<em>Directory for all configuration files</em>)
            core/
            modules/
            tools/

     core/ (<em>Directory that contains the core components</em>)
          benchmark/
          configuration/
          database/
          errorhandler/
          filesystem/
          filter/
          frontcontroller/
          logging/
          pagecontroller/
          service/
          session/
          singleton/

     modules/ (<em>Directory that contains the modules shipped with each release</em>)
             comments/
             guestbook/
             kontakt4/
             pager/
             socialbookmark/
             weather/ (<em>Directory of the RSS weather module; see my first steps for more details</em>)

     sites/ (<em>Directory for the source code files of this project</em>)
           apfexample/
                      pres/
                           de/
                              content/
                           en/
                              content/
     tools/ (<em>Directory including the tools</em>)
           cache/
           datetime/
           form/
                taglib/
           html/
                taglib/
           image/
           link/
           mail/
           string/
           validator/
           variablen/

css/ (<em>Directory for the CSS files of the project</em>)

media/ (<em>Directory for the media files of the project</em>)

de/ (<em>Directory for the php files necessary for the german version of the project</em>)

en/ (<em>Directory for the php files necessary for the english version of the project</em>)
</pre>
The folder listing points out one important thing: the separation between code and application. This
means, all files located in the <strong>apps</strong> folder are structured by a consistent
convention and build one single code tree, that can be used to run any amount of applications. The
type of application or web page is served must be configured in the bootstrap file seperately.
<br />
<br />
To get a deeper insight into the sense of the folder and components, please have a look at the
<a href="http://adventure-php-framework.org/Page/002-API-documentation" target="_blank" title="API documentation">API documentation</a>,
or the
<a href="http://adventure-php-framework.org/Page/013-Basics" target="_blank" title="online documentation">online documentation</a>.
<br />
<br />
<br />
<h4>1.3. Structure of the bootstrap file</h4>
As already mentioned above, the framework supports the bootstrap architecture. As with huge projects
bootstrapping is the only way of beeing able to keep clear view and serviceability. But also within
small projects this concept is useful, because source code must not be maintained in different files
but one.
<br />
<br />
A common <strong>index.php</strong> file contains the following code fragments:
<core:addtaglib namespace="sites::apfexample::pres::taglib" prefix="php" class="highlight" />
<php:highlight>
   // Include page controller
   include_once('./apps/core/pagecontroller/pagecontroller.php');

   // Create page object
   $Page = new Page('{1}');

   // Design page structure
   $Page->loadDesign('{2}','{3}');

   // Transform page and print output
   echo $Page->transform();
</php:highlight>
The place holders marked with <strong>{x}</strong> signify the following:
<ul>
  <li>
    <strong>{1}</strong>: The parameter {1} defines the name of the webseite. This parameter is
    optional and only gives a name to the object <em>Page</em>.
  </li>
  <li>
    <strong>{2}</strong>: Namespace to the basic template or the context of the application. To be
    able to load a design the information "namespace" or "path" and "design name" is necessary. The
    first part ("namespace" or "path") is used at the same time as a context for configuration
    interests, if the context is not set before loading a template via <em>loadDesign()</em>.
    (see <a href="http://adventure-php-framework.org/Page/033-Configuration" title="configuration">configuration</a> for more details).
  </li>
  <li>
    <strong>{3}</strong>: Name if the basic template. Here either the name of the basic template
    can be given without his ending or a sub path incl. name of the basis template.
  </li>
</ul>
The following code box shows the body of the example page's <strong>index.php</strong>:
<br />
<br />
<core:addtaglib namespace="sites::apfexample::pres::taglib" prefix="file" class="highlight" />
<file:highlight name="index.php" />
<br />
The last 10 lines are not relevant to the functionality itself. They include the functionality, that
adding
<pre class="tagexample">
&benchmarkreport=true
</pre>
to the requested url prints the benchmark report on the bottom of a page. This report shows how much
time is needed by each components to fullfill the asigned task. Further information can be found in
the online documentation in the
<a href="http://adventure-php-framework.org/Page/004-Benchmark" target="_blank" title="benchmark">benchmark chapter</a>.
<br />
<br />
<br />
<h4>1.4. Construction of the templates</h4>
Templates ara playing a big role within the adventure php framework. Abstractly spoken, each node of
a web page or application forms a "small MVC section" that consists of a model (commonly the model of
the application or website), the view (an XML / HTML template) and a controller (named document
controller) if applicable. The kernel of the framework contains the page controller component that
generates a DOM tree out of the templates specified in either the <strong>index.php</strong> or by
any includes in templates. The page controller executes specified controller during transformation
of the DOM tree.
<br />
<br />
The semantics of the templates thereby defines the complexity of the desired page and thus directly
influences the structure of the DOM tree generated by the page controller. By calling the
<strong>loadDesign()</strong> method in the <strong>index.php</strong> the initial template of an
application or web page is loaded. This file defines the basic structure of the page. In case of this
demo website the file <strong>website.html</strong> in the folder
<strong>apps/sites/apfexample/pres/templates/de</strong> is used. It contains the layout of the page
and defines the areas of the page, where further templates are included. Each template included forms
a child node of the initial DOM node - the Document. The depth of the tree is not limitied to any
number. The initial demo page template mentioned before can be seen in the following code box:
<br />
<br />
<file:highlight name="website.html_de" />
<br />
The template shown here contains two <strong>&lt;core:importdesign /&gt;</strong> tags. The first one
includes the menu, the second the content template. To get more information on tags, please visit the
online documentation page and get into the
<a href="http://adventure-php-framework.org/Page/046-Standard-TagLibs" target="_blank" title="Standard taglibs">standard taglibs chapter</a>.
<br />
<br />
<br />
<h3>2. Basic configuration</h3>
In contrast to earlier versions of the framework (&lt; 1.7), you do not need any further basic
configuration. The core components' configuration parameter are stored in the <strong>apf::core</strong>
namespace of the <strong>Registry</strong>. In order to manipulate them to fit your special needs,
the desired parameters must be changed in the central bootstrap file as described below. The registry
is not only an information pool for the framework's core, but can also be used to store information
about concrete applications.
<php:highlight>
   // include pagecontroller
   include_once('./apps/core/pagecontroller/pagecontroller.php');

   // get an instance of the registry
   $Reg = &Singleton::getInstance('Registry');

   // change the environment parameter used by the configurationManager
   $Reg->register('apf::core','Environment','MY_ENV');

   // change the base path to your application
   $Reg->register('apf::core','URLBasePath','http://mybaseurl.de');

   // change the url rewriting mode (true: URL params are separated by a "/", false: "normal" URLs)
   $Reg->register('apf::core','URLRewriting',true);

   // change log directory
   $Reg->register('apf::core','LogDir','/Pfad/zu/meinem/Log/Verzeichnis');

   // create page
   $Page = new Page('{1}');

   // load initial template file
   $Page->loadDesign('{2}','{3}');

   // transform and display page
   echo $Page->transform();
</php:highlight>
The registry parameters have the following meaning:
<ul>
  <li>
    <strong>Environment</strong>: <em>(used by: configurationManager, MySQLxHandler, SQLiteHandler, ...)</em>
    <br />
    <br />
    Every configuration file exists of four different components:
    <br />
    <br />
    <ul>
      <li>Namespace: The folder below which all configuration files of this application lie</li>
      <li>Context: Current context of the application</li>
      <li>Umgebung: e.g. for development, test and live</li>
      <li>Dateinamen: Name of the configuration file</li>
    </ul>
    <br />
    This abstraction was introduced, so that an application or a module can be integrated into
    different other applications or modules and is executable on different systems at the same time
    without change of the source code. Nevertheless, for the loading of configurations there are
    standardised methods, so that the programmer must not look after it any more. Continuing material
    can be found under <a href="http://adventure-php-framework.org/Page/033-Configuration" title="configuration">configuration</a>.
    <br />
    <br />
    <strong>Default value:</strong> &quot;DEFAULT&quot;
    <br />
    <br />
    <br />
  </li>
  <li>
    <strong>URLBasePath</strong>: <em>(used by: AdvancedBBCodeParser, SocialBookmarkManager, Search, ...)</em>
    <br />
    <br />
    Many modules link on itself or different areas of a module or a web page. That's why it must be
    confessed how the base URL of the site is. The registry value URLBasePath defines this.
    <br />
    <br />
    <strong>Default value:</strong> &quot;HTTP_HOST value of the $_SERVER array&quot;
    <br />
    <br />
    <br />
  </li>
  <li>
    <strong>URLRewriting</strong>: <em>(used by: Page-Controller, Front-Controller, LinkHandler, FrontcontrollerLinkHandler, ...)</em>
    <br />
    <br />
    The present page controller supports URL-Rewriting. Rewrited URLs look like
    <em>http://www.domain.tld/param1/value1/param2/value2</em> instead of
    <em>http://www.domain.tld?param1=value1&amp;param2=value2</em>. If this value is set to "true"
    the <em>linkHandler</em> and <em>frontcontrollerLinkHandler</em> component generate links in
    rewrite style.
    <br />
    <br />
    <strong>Default value:</strong> &quot;false&quot;
    <br />
    <br />
    <br />
  </li>
  <li>
    <strong>LogDir</strong>: <em>(used by: Logger, ...)</em>
    <br />
    <br />
    To allow a central Logging mechanism, the path in which the log files should be written must be
    defined centrally. The path is used by the class <strong>Logger</strong>.
    <br />
    <br />
    <strong>Default value:</strong> &quot;./logs&quot;
    <br />
    <br />
    <br />
  </li>
  <li>
    <strong>LibPath</strong>: <em>(used by: AdvancedBBCodeParser, ...)</em>
    <br />
    <br />
    The <strong>LibPath</strong> directive stores the basic path to the framework's code files. The
    directory path is set dynamically and the value is read only.
    <br />
    <br />
  </li>
</ul>
<h3>3. Creating a new project</h3>
In order to create a new web page project the following approach was considered as best practice:
<ol>
  <li>
    Create the folder structure of the project. Hereby, the developer can feel free to structure the
    files reachable via HTTP (images, css files, ...).
  </li>
  <li>
    Download a current codepack-* release on the
    <a href="http://adventure-php-framework.org/Page/008-Downloads" title="Downloads" target="_blank">downloads page</a>.
  </li>
  <li>Extract tge framework code into the project folder.</li>
  <li>
    Create the folder structure in the apps directory. It is recommended to create a folder named
    <strong>apps/sites/</strong> to store the files relevant for a web page project.
  </li>
</ol>
Further information can be seen in the online tutorial
<a href="http://adventure-php-framework.org/Page/048-My-first-website" title="my first website" target="_blank">my first website</a>.