<h3>Links</h3>
If you have any question, the ressources listed below should help you to find an answer:
<br />
<br />
<br />
<h6>Englisch support forum</h6>
<a href="http://forum.adventure-php-framework.org/en/" target="_blank" title="Englisch support forum">http://forum.adventure-php-framework.org/en/</a>
<br />
<br />
<br />
<h6>Online documentation</h6>
<a href="http://www.adventure-php-framework.org/Page/009-Introduction/~/sites_demosite_biz-action/setLanguage/lang/en/~/sites_demosite_biz-action/setReferrer/lang/en" target="_blank" title="Online documentation">http://www.adventure-php-framework.org/Page/009-Introduction</a>
<br />
<br />
<br />
<h6>API documentation</h6>
<a href="http://www.adventure-php-framework.org/Page/008-Downloads/~/sites_demosite_biz-action/setLanguage/lang/en/~/sites_demosite_biz-action/setReferrer/lang/en" target="_blank" title="API documentation">http://www.adventure-php-framework.org/Page/008-Downloads</a>
<br />
<br />
<br />
<h6>My first webiste tutorial</h6>
<a href="http://www.adventure-php-framework.org/Page/048-My-first-website/~/sites_demosite_biz-action/setLanguage/lang/en/~/sites_demosite_biz-action/setReferrer/lang/en" target="_blank" title="My first website">http://www.adventure-php-framework.org/Page/048-My-first-website</a>