<core:addtaglib namespace="sites::apfexample::pres::taglib" prefix="curr" class="date" />
<div style="text-align: right;">
  <em>Output of the &lt;curr:date /&gt; tag:</em> <strong><curr:date /></strong>
</div>
<h3>Playground</h3>
This page was included as a place holder. It can be used to try extensions or modifications. In order
to modify this content, please open the file
<pre class="tagexample">
apps/sites/apfexample/pres/templates/en/content/playground.html
</pre>
with any editor of your choice. To get a suggestion, how this page can be changed, please refer
to the <a href="./?pagepart=tutorial" title="My first steps">my first steps</a> tutorial.
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />