<h3>Welcome!</h3>
Thank you, that you have choosen the adventure php framework. The present demo website would like to
give you a brief introduction to the features of the framework and common use cases.
<br />
<br />
<br />
<br />
<h6>Introduction</h6>
<a href="./?pagepart=introduction" title="Introduction">Introduction</a> to the framework and
architecture of this demo page.
<br />
<br />
<br />
<h6>Links</h6>
List of important online tutorials and documentation chapters and a
<a href="./?pagepart=links" title="Links">links</a> to the adventure php framework forum.
<br />
<br />
<br />
<h6>Tutorial</h6>
A <a href="./?pagepart=tutorial" title="Tutorial">tutorial</a> including a step-by-step
introduction to enhance this website and get in touch with the framework.
<br />
<br />
<br />
<br />