.umgt-fe-login input {
    border: 1px solid gray;
}

.login-wrapper,
.umgt-fe-login .credentials-error {
    border-radius: .25em;
    -moz-border-radius: .25em;
    -webkit-border-radius: .25em;
}

.system-error,
.umgt-fe-login .credentials-error {
    background: #fee url('../images/err-box.png') no-repeat scroll 10px 10px;
    border-color: #900;
    color: #333;
    margin: 0 0 1em 0;
    min-height: 3em;
    padding: 10px 10px 10px 68px;
}

.system-error {
    margin: 0;
}

.login-wrapper {
    margin: 2em 0;
    border: 1px solid gray;
    padding: 2em;
}

.umgt-fe-login label {
    display: none;
}
