<@controller
      class="EXAMPLE\dynamicmodules\modules\wizzard\controller\DatabaseConfigurationWizardController"
@>
<style type="text/css">
   .apf-form-error {
      border: 2px solid red;
   }
</style>
<h3>Database setup</h3>
<p>
   It seems that your database configuration has not been adapted. This is why you are presented this module to configure
   all necessary parameters.
</p>
<p>
   Please fill the below fields to complete database configuration file <em>/APF/config/core/database/app-context/DEFAULT_connections.ini</em>:
</p>
<html:form name="database-credentials">
   <p>
      <label for="host">Host:</label>
      <form:text id="host" name="host" />
   </p>
   <p>
      <label for="port">Port:</label>
      <form:text id="port" name="port" />
   </p>
   <p>
      <label for="name">Database name:</label>
      <form:text id="name" name="name" />
   </p>
   <p>
      <label for="user">Database user:</label>
      <form:text id="user" name="user" />
   </p>
   <p>
      <label for="pass">Database password:</label>
      <form:text id="pass" name="pass" />
   </p>
   <p>
      <form:button name="send" value="Save" />
   </p>
   <form:addvalidator
      class="APF\tools\form\validator\TextLengthValidator"
      control="host|port|name|user"
      button="send"
   />
</html:form>