<ul>
   <li><a href="http://adventure-php-framework.org/en">Online documentation</a></li>
   <li><a href="http://wiki.adventure-php-framework.org/de">Wiki</a> (German)</li>
   <li><a href="http://adventure-php-framework.org/Page/100-Articles">Articles</a></li>
   <li><a href="http://adventure-php-framework.org/Page/010-FAQs">FAQs</a></li>
   <li><a href="http://forum.adventure-php-framework.org/">Forum</a></li>
</ul>
<ul>
   <li><a href="http://wiki.adventure-php-framework.org/de/Extensions">Extensions</a> (German)</li>
   <li><a href="http://adventure-php-framework.org/Page/118-Community">Community</a></li>
   <li><a href="http://adventure-php-framework.org/Page/005-Bugtracking">Bugtracking</a></li>
   <li><a href="http://adventure-php-framework.org/Page/076-License">License</a></li>
</ul>
<p>&copy; 2004 - 2014 adventure-php-framework.org</p>