<@controller
   class="SB\pres\controller\GuestbookWizzardController"
@>
<core:addtaglib class="APF\tools\form\taglib\HtmlFormTag" prefix="html" name="form" />

<h2>Guestbook wizzard</h2>
<p>
   The guestbook wizzard is aimed to configure and initialize the <em>Guestbook</em> extension.
   Afterwards you will be able to create and show guestbook entries in the guestbook! Also you are able to edit and delete guestbook entries in the backend.
</p>
<p>
   Similar to the <a href="?page=db-wizzard">database wizzard</a> the setup is done step by step.
</p>

<h3 id="step-1">Step 1: Database configuration</h3>
<p>
   For connecting to the database, a new configuration must be created.
</p>
<p>
   Please fill in the subsequent fields to be able to connect to your desired database:
</p>

<core:appendnode namespace="SB\pres\templates\de\content\fragments" template="db_config"/>

<h3 id="step-2">Step 2: Database setup</h3>
<p>
   Within this step, the necessary tables will be created to be able to work with the backend.
</p>

<html:template name="step-1-req">
   <div class="hint">
      In order to initialize the database please create the database connection using
      <a href="#step-1">step 1</a> of this wizzard.
   </div>
</html:template>

<html:form name="init-db" id="init-db" method="post" action="#step-3">
   <p>
      Submitting this form the database tables are created automaticalls. This is done using the
      <em>GenericORMapperManagementTool</em> tool from the <em>APF\modules\genericormapper\data\tools</em>
      namespace:
   </p>
   <pre>
$setup = &$this->getServiceObject('APF\modules\genericormapper\data\tools\GenericORMapperManagementTool');
$setup->addMappingConfiguration('APF\modules\guestbook2009\data', 'guestbook2009');
$setup->addRelationConfiguration('APF\modules\guestbook2009\data', 'guestbook2009');
$setup->setConnectionName(self::$CONFIG_SECTION_NAME);
$setup->run(true);
   </pre>
   <p>
      Please click the button to create the database layout:
   </p>
   <form:button name="init-db" value="Execute setup" />
</html:form>

<html:template name="db-conn-error">
   <div class="err">
      <p>
         The given database connection data is wrong. Thus, no connection could be established.
         Please check the settings in 
         <em>/APF/config/core/database/myapp/DEFAULT_connections.ini</em>!
      </p>
      <p>
         The error is: <em><template:placeholder name="exception" /></em>
      </p>
   </div>
</html:template>

<html:template name="tables-exist">
   <div class="ok">
      The database is now ready installed. Please proceed with <a href="#step-3">step 3</a>.
   </div>
</html:template>

<h3 id="step-3">Step 3: Using the extension</h3>

<html:template name="step-2-req">
   <div class="hint">
      In order to call the guestbook backend or show any guestbook entries, the database must be initialized.
      Please execute <a href="#step-2">Step 2</a> first.
   </div>
</html:template>

<html:template name="step-3">
   <div class="ok">
      After the setup has been completed, you are now able to call the
      <a href="?page=guestbook-backend&gbview=login">guestbook backend</a> or to <a href="?page=guestbook">show existing guestbook entries</a>.
   </div>
</html:template>