<h2>APF sandbox</h2>
<p>
   Thank you for choosing the Adventure PHP Framework (APF). We are sure to provide a development
   tool that let's you get to good results very fast.
</p>
<p>
   The sandbox provides a quick step into the APF and contains the essential documentation pages
   as an offline version. Besides, the <a href="?page=db-wizzard">database config</a> and
   <a href="?page=tmpl-wizzard">template</a> wizzard are intended to get in touch interactively.
   This enables you to enhance the sandbox page step by step.
</p>
<p>
   In case of any questions please refer to the
   <a href="http://adventure-php-framework.org">official documentation</a> or post your question at
   the <a href="http://forum.adventure-php-framework.org/">forum</a>.
</p>